body {
  background-color: hsl(0, 0%, 8%);
  font-family: Inter;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.card-container {
  text-align: center;
  padding: 28px;
  border-radius: 12px;
  background-color: hsl(0, 0%, 12%);
  /* we may need to add a width to mantain the card always the same size */
  /* width: 320px; */
}

.name {
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.place {
  color: hsl(75, 94%, 57%);
  font-weight: 600;
  margin-top: -2px;
  font-size: 12px;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.role {
  color: hsla(0, 0%, 100%, 0.797);
  font-size: 14px;
  margin-inline: 3px;
  margin-bottom: 20px;
}

.avatar-picture {
  border-radius: 100px;
  /* use Width, max-width is incorrect */
  max-width: 80px; 
  margin-bottom: 16px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

button {
  border-radius: 10px;
  background-color: hsl(0, 0%, 20%);
  color: white;
  border: none;
  /* use padding instead of specific values for the height and width with buttons */
  /* height: 46px; */
  padding: 12px;
  transition: ease-in .1s color, ease-in .1s background-color, ease-in .1s transform ;
}

button:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 12%);
  transform: scale(1.05);
  /* avoid changing text weight on hover  */
  font-weight: 600;
}
